
<% @posts.each do |post| %>
<div class="jumbotron" style="width:40%">
<%= post.first_name %>
<%= post.last_name %>
<%= post.blurb %>
<% post.photos.each do |photo| %>
<img class="pf_pic" src='<%= photo.image.url %>'/>
<% end %>
</div>
<% end %>

<ul id="the-posts">
</ul>


<script>
var posts = <%= raw @posts.to_json %>
console.log(posts);
</script>
 